/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header, que contém o banner e o menu */
.header {
    background-color: #0F2040;
}

/* Banner (a imagem) */
.header .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header .banner img {
    max-width: 250px;
    height: auto;
}

/* Menu de Navegação */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinha o menu à esquerda */
    padding-left: 20px;
    background-color: #0F2040;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.menu ul li a:hover {
    background-color: #1f3060;
    color: #C4A760;
}

/* Rodapé (Footer) */
.footer {
    background-color: #0F2040;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p, .footer .social-media {
    margin: 10px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Estilo para o link do WhatsApp com ícone */
.whatsapp-link .fa-whatsapp {
    color: #25D366;
    font-size: 1.2em;
    margin-right: 5px;
}
